
<div class="container">
  
  <header class="site-header">
    <img *ngIf="config.site?.logoUrl" [src]="config.site?.logoUrl" alt="Logo" class="logo">
    
    <div>
      <h1 class="site-title">{{ config.site?.title || 'Caricamento Piattaforma...' }}</h1>
      <p class="site-desc">{{ config.site?.description }}</p>
    </div>
  </header>

  <main>
    <h2 class="section-title">In Evidenza</h2>
    
    <div class="grid" *ngIf="items$ | async as items; else loading">
      
      <app-card *ngFor="let item of items" [item]="item"></app-card>

    </div>

    <ng-template #loading>
      <div class="loading">
        <span class="loader">⏳</span> Caricamento contenuti dal backend...
      </div>
    </ng-template>
  </main>

</div>
